@import '~bootstrap/scss/bootstrap';


$theme-colors: (
  'primary': #a7bc5b,
  'secondary': #8da242,
  'ternary': rgb(240, 235, 225),
  'header': rgba(255, 255, 255, .7),
  'ghost': #fff
);

.navbar-solid {
 box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .35);
 background-color: #fff;
}

.navbar-transparent {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .35);
  background-color: #fff;
 }


.bannerfont {
  font-family: 'Bebas Neue', cursive;
  color: #fff;
  text-align: center;
}

.font {
  font-family: 'Bebas Neue', cursive;
}

.font2 {
  font-family: 'Nunito Sans', sans-serif;
}

.font3 {
  font-family: 'Playfair Display', serif;
}

.banner-heading {
  font-size: 2.5rem;
}

.banner-subheading {
  font-size: 1.5rem;
}

.section2-img {
  display: none;
}

ul {
  list-style-type: none;
}

.hovered-list {
  color: #fcba08;
  font-weight: bold;
  font-size: .62rem;
}

.tab-list-size {
  font-size: .6rem;
}

#imgsect5 {
  width: 350px;
  height:155px;
}

.lexus-col{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.button-hover:hover {
  background-color: #fcba08 !important;
  color: white !important;
}

.smooth {
  scroll-behavior: smooth;
}

.list-group-item {
  border: 1px solid #214d67 !important;

}

.list-group-item:hover {
  border-color: #2f4f4f;
  border-width: 2px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .35);
  background-image: url('./images/image4.png')
}

.section4 {
  display: none;
}

.hide-nav2-links {
  display: block;
}

.extra-nav-links {
  margin-top: 0;
}

.responsive-nav {
  margin-top: 0;
}

.scroll-to-top {
  display: none;
}

.nav2-link-position {
  display: flex;
  justify-content: flex-end;
}

.tab-content-style {
  display: block;
}

.map-list {
  margin-top: 20px;
}

.nav-tabs .nav-link {
  border-top: 1px solid #cccccc !important;
  border-left: 1px solid #cccccc !important;
  border-right: 1px solid #cccccc !important;
  border-bottom: 3px solid #cccccc !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  display: flex !important;
  justify-content: center;
  flex-basis: 16% !important;
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
  font-family: 'Bebas Neue', cursive;
  font-size: .3rem;
  color: #2f4f4f !important;
  background-color: #f6f6f6 !important;
} 

.nav-tabs .nav-link.active {
  border-bottom: none !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  display: flex !important;
  flex-basis: 16% !important;
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
  font-family: 'Bebas Neue', cursive;
  font-size: .3rem;
  color: #fcba08 !important;
  background-color: white !important;
  justify-content: start;
} 

[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none !important;
}

@media (min-width: 100px) {
  .list-area-margins-top {
    margin-top: 20px;
  }
  .list-area-margins-bottom {
    margin-bottom: 20px;
  }
  .list-image {
    justify-content: center;
  }
  .list-area-row {
    display: flex;
    flex-direction: column;
  }
  .nav-button-one {
    display: inline-block !important;
  }
  .nav-button-two {
    display: none !important;
  }
  .humburger-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .resp-img {
    height: 248px;
  }
  
}

@media (min-width: 320px) {
  .nav-tabs .nav-link {
    font-size: .4rem !important;
  }
  .nav-tabs .nav-link.active {
    font-size: .4rem !important;
  }
}

@media (min-width: 365px) {
  .nav-tabs .nav-link {
    font-size: .5rem !important;
  }
  .nav-tabs .nav-link.active {
    font-size: .5rem !important;
  }
}

@media (min-width: 411px) {
  .nav-tabs .nav-link {
    font-size: .6rem !important;
  }
  .nav-tabs .nav-link.active {
    font-size: .6rem !important;
  }
}

@media (min-width: 500px) {
  .humburger-button {
    width: auto;
  }
  .tab-list-size {
    font-size: 1rem;
  }
  .hovered-list {
    font-size: 1.1rem;
  }
  .tab-content-style {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tab-content {
    height: 415px;
  }
  .map-list {
    margin-top: 0;
    text-align: center;
  }
}

@media (min-width: 530px) {
  .nav-tabs .nav-link {
    border-top: 1px solid #cccccc !important;
    border-left: 1px solid #cccccc !important;
    border-right: 1px solid #cccccc !important;
    border-bottom: 3px solid #cccccc !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    display: flex !important;
    justify-content: center;
    flex-basis: 16% !important;
    flex-grow: 1 !important;
    flex-shrink: 0 !important;
    padding: 2.3375rem 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: .8rem !important;
    color: #2f4f4f !important;
    background-color: #f6f6f6 !important;
  } 
  
  .nav-tabs .nav-link.active {
    border-bottom: none !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    display: flex !important;
    flex-basis: 16% !important;
    flex-grow: 1 !important;
    flex-shrink: 0 !important;
    padding: 1.4375rem 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: .8rem !important;
    color: #fcba08 !important;
    background-color: white !important;
    justify-content: start;
  } 
}

@media (min-width: 576px) {
  .list-area-margins-top {
    margin-top: 20px;
  }
  .list-area-margins-bottom {
    margin-bottom: 20px;
  }
  .list-image {
    justify-content: center;
  }
  .list-area-row {
    display: flex;
    flex-direction: row;
  }
  .nav-link {
    font-size: 1.25rem !important;
  }
  .button-hover {
    font-size: 1rem !important;
  }
  #imgsect5 {
    width: 450px;
    height:225px;
}
}

@media (min-width: 768px) {
  .nav-button-one {
    display: none !important;
  }
  .nav-button-two {
    display: inline-block !important;
  }
  .section4 {
    display: block;
  }
  .extra-nav-links {
    display: flex !important;
    justify-content: space-between !important;
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
    margin-top: 0;
  }
  .hide-nav2-links {
    display: none !important;
  }
  .responsive-nav {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
  }
  .scroll-to-top {
    display: block;
  }
  .nav2-link-position {
    display: flex;
    justify-content: space-between;
  }

  .navbar-transparent {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .35);
    background-color: rgba(255, 255, 255, .7);
  }
}



@media (min-width: 900px) {
  .banner-heading {
    font-size: 3.2rem;
    }
  .banner-subheading {
    font-size: 2rem;
    }
  }

  @media (min-width: 992px) {
    .section2-img {
      display: block;
    }  
    .list-area-margins-top {
      margin-top: 0px;
    }
    .list-area-margins-bottom {
      margin-bottom: 0px;
    }
    .list-image {
      justify-content: flex-start;
    }
    .resp-img {
      height: 400px;
    }
    #imgsect5 {
      width: 700px;
      height:350px;
    }
    .lexus-col{
      display: block;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .nav-tabs .nav-link {
      font-size: 1rem !important;
    }
    .nav-tabs .nav-link.active {
      font-size: 1rem !important;
    }
  }

  @media (min-width: 1200px) {
    .banner-heading {
      font-size: 3.5rem;
      }
    .banner-subheading {
      font-size: 2rem;
      }
      .nav-tabs .nav-link {
        font-size: 1.2rem !important;
      }
      .nav-tabs .nav-link.active {
        font-size: 1.2rem !important;
      }
    }

  .blur {
    position: absolute;
    width: 100vw;
    height: 800px;
    top: 0;
    left: 0;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-x: center;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    z-index: -1;
  }

  .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .no-padding {
    padding-left: 1px !important;
    padding-right: 1px !important;
  }


.navbar-nav .nav-link {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.011811rem;
  font-weight: normal;
  font-size: 1.25rem;
}

.nav-text-style {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.011811rem;
  font-weight: normal;
  font-size: 1.25rem;
}

.nav2-text-style {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 0.011811rem;
  font-weight: bold;
  font-size: 1.25rem;
  color: #2f4f4f !important;
}

.nav2-text-style:hover {
  color: white !important;
}

.navbar-light .navbar-nav  .nav-link {
  color: #212529 !important;
  padding: 0 1rem;
}



@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap')
