@import '~bootstrap/scss/bootstrap';


$theme-colors: (
  'primary': #a7bc5b,
  'secondary': #8da242,
  'header': rgba(255, 255, 255, .7),
  'ghost': #fff
);

.navbar-solid {
 box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .35);
 background-color: #fff;
}

.navbar-transparent {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .35);
  background-color: rgba(255, 255, 255, .7);
}


.bannerfont {
  font-family: 'Bebas Neue', cursive;
  color: #fff;
  text-align: center;
}

.font {
  font-family: 'Bebas Neue', cursive;
}

.font2 {
  font-family: 'Nunito Sans', sans-serif;
}

.font3 {
  font-family: 'Playfair Display', serif;
}

.banner-heading {
  font-size: 2.5rem;
}

.banner-subheading {
  font-size: 1.5rem;
}

.section2-img {
  display: none;
}

.button-hover:hover {
  background-color: #fcba08 !important;
  color: white !important;
}

.list-group-item {
  border: 1px solid #214d67 !important;

}

.list-group-item:hover {
  border-color: #2f4f4f;
  border-width: 2px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .35);
  background-image: url('./images/image4.png')
}

[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none !important;
}

@media (min-width: 100px) {
  .list-area-margins-top {
    margin-top: 20px;
  }
  .list-area-margins-bottom {
    margin-bottom: 20px;
  }
  .list-image {
    justify-content: center;
  }
  .list-area-row {
    display: flex;
    flex-direction: column;
  }
  .nav-button-one {
    display: inline-block !important;
  }
  .nav-button-two {
    display: none !important;
  }
  .humburger-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 500px) {
  .humburger-button {
    width: auto;
  }
}

@media (min-width: 576px) {
  .list-area-margins-top {
    margin-top: 20px;
  }
  .list-area-margins-bottom {
    margin-bottom: 20px;
  }
  .list-image {
    justify-content: center;
  }
  .list-area-row {
    display: flex;
    flex-direction: row;
  }
  .nav-link {
    font-size: 1.25rem !important;
  }
  .button-hover {
    font-size: 1rem !important;
  }
}

@media (min-width: 768px) {
  .nav-button-one {
    display: none !important;
  }
  .nav-button-two {
    display: inline-block !important;
  }
}

@media (min-width: 900px) {
  .banner-heading {
    font-size: 3.2rem;
    }
  .banner-subheading {
    font-size: 2rem;
    }
  }

  @media (min-width: 992px) {
    .section2-img {
      display: block;
    }  
    .list-area-margins-top {
      margin-top: 0px;
    }
    .list-area-margins-bottom {
      margin-bottom: 0px;
    }
    .list-image {
      justify-content: flex-start;
    }
  }

  @media (min-width: 1200px) {
    .banner-heading {
      font-size: 3.5rem;
      }
    .banner-subheading {
      font-size: 2rem;
      }
    }

  .blur {
    position: absolute;
    width: 100vw;
    height: 800px;
    top: 0;
    left: 0;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-x: center;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    z-index: -1;
  }

  .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .no-padding {
    padding-left: 1px !important;
    padding-right: 1px !important;
  }


.navbar-nav .nav-link {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.011811rem;
  font-weight: normal;
  font-size: 1.25rem;
}

.nav-text-style {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.011811rem;
  font-weight: normal;
  font-size: 1.25rem;
}

.navbar-light .navbar-nav  .nav-link {
  color: #212529 !important;
  padding: 0 1rem;
}



@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap')
